<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<script type="importmap">
  {
    "imports": {
      "@material/web/": "https://esm.run/@material/web/"
    }
  }
</script>

<script type="module">
  console.log("SCRIPT Preact chargé !");

  import { h, render } from "https://esm.sh/preact";
  import { useForm } from "https://esm.sh/@modular-forms/preact";
  import '@material/web/all.js';
  import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

  document.adoptedStyleSheets.push(typescaleStyles.styleSheet);

  const Label = (text, required = false) =>
  h(
    "label",
    { class: "contact-label" },
    [
      text,
      required &&
        h("span", { class: "contact-label-required" }, "*")
    ]
  );

  const TEST = (text, required = false) =>h(
    "div",
    { class: "test" },
    text
  );
  const ButtonTest = (text) =>h(
    "md-outlined-button",
    { class: "buttonTest" },
    text
  );


  const Input = ({ value, setValue, type = "text" }) =>
    h("input", {
        type,
        value,
        onInput: (e) => setValue(e.target.value),
        class: "contact-input",
  });

  const Textarea = ({ value, setValue }) =>
    h("textarea", {
        rows: 5,
        value,
        onInput: (e) => setValue(e.target.value),
        class: "contact-input",
  });

  const Button = (text) =>
  h(
    "button",
    {
      type: "submit",
      class: "contact-button",
    },
    text
  );

  const ContactForm = () => {
    const [form, { Form, Field }] = useForm({
      initialValues: {
        firstname: "",
        lastname: "",
        message: "",
      },
    });

    const handleSubmit = (values) => {
      alert("Formulaire envoyé !\n" + JSON.stringify(values, null, 2));
    };

    return h(
      Form,
      {
        onSubmit: handleSubmit,
        class:
          "contact-form shadow-xl rounded-xl p-8 space-y-6",
      },
      [
        h("h3", { class: "contact-title" }, "Formulaire"),

        h(Field, { name: "firstname" }, ({ value, setValue }) =>
          h("div", { class: "space-y-1" }, [
            Label("Prénom", true),
            Input({ value, setValue }),
          ])
        ),

        h(Field, { name: "lastname" }, ({ value, setValue }) =>
          h("div", { class: "space-y-1" }, [
            Label("Nom", true),
            Input({ value, setValue }),
          ])
        ),

        h(Field, { name: "message" }, ({ value, setValue }) =>
            h("div", { class: "space-y-1" }, [
                Label("Message", false),   // ⬅️ pas d’astérisque
                Textarea({ value, setValue }),
            ])
        ),

        Button("Envoyer"),

        ButtonTest("Nos domaines d'expertise"),

        //TEST("Nos"),
      ]
    );
  };

  render(h(ContactForm), document.getElementById("preact-contact-root"));
</script>